<!DOCTYPE html>
<html lang="en">
  <head> <title>Главная</title><%- include('./partials/head'); %></head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Start Preloader -->
    <%- include('./partials/preloader'); %>
    <!-- End Preloader -->
    <!-- Start Wrapper -->
    <div class="wrapper">
      <!-- Start Header -->
      <header id="header" class="header-area absulate-header">
      <%- include('./partials/header'); %></header>
      <!-- End Header -->
      <!-- Start Slider Area -->
      <%- include('./partials/section'); %>
      <div class="quick-icon-area pb-90">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <img src="img/icon/1.png" alt="" />
                  <p>Camping</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <img src="img/icon/2.png" alt="" />
                  <p>Hiking</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <img src="img/icon/3.png" alt="" />
                  <p>Beach Tours</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <img src="img/icon/4.png" alt="" />
                  <p>Surfing</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <img src="img/icon/5.png" alt="" />
                  <p>Safari</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <img src="img/icon/6.png" alt="" />
                  <p>Cycling</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Quick Icon Area -->
      <!-- Start About Area -->
      <div class="about-area pb-115">
        <div class="about-bg">
          <img src="img/about/1.jpg" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="col-lg-6">
              <!-- Start section title -->
              <div class="section-title">
                <p class="title">GET TO KNOW US</p>
                <h2>Begin your adventure <span></span> with AdventureGene?</h2>
              </div>
              <!-- End section title -->
              <div class="about-content">
                <p>
                  We are a family-owned company, and getting to know you is our
                  biggest priority. Adventure Treks isn’t just about outdoor
                  adventure for teens; it’s about you! We want you to discover
                  your best self, and we believe that the great outdoors is just
                  the way to do it.
                </p>
                <a href="#" class="btn btn-theme">Get To Know Our Values</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End About Area -->
      <!-- Start Advencher Area -->
      <div class="adventure-area pb-90 pt-50">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-md-8">
              <!-- Start section title -->
              <div class="section-title text-center">
                <p class="title">Browse by Adventures</p>
                <h2>Your best adventure <span></span> YET, starts here</h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/1.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Hiking & Trekking</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/2.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Cycling Tours</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/3.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Family Tours</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/4.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Wildlife Tours</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/5.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Polar Tours</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/6.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Food Tours</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/7.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>ruise Tours</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/8.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Beach Tours</h5></a>
                  <p>
                    Responsible travel has always been at the core of what we
                    do.
                  </p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Advencher Area -->
      <!-- Start Fun Facts Area -->
      <div class="funfact-area overlay-bg pt-170 pb-70">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
              <!-- Start section title -->
              <div class="section-title white text-center">
                <p class="title">Interesting Facts</p>
                <h2>Experiences Away <span></span> From Crowd</h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-sm-4">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/1.png" alt="" />
                  <span class="counter">10258</span><span>M</span>
                  <p>Trekking</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/2.png" alt="" />
                  <span class="counter">670</span><span>+</span>
                  <p>Beac Tours</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/3.png" alt="" />
                  <span class="counter">910</span><span>+</span>
                  <p>Destinations</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/4.png" alt="" />
                  <span class="counter">1240</span><span>+</span>
                  <p>crui Parties</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/5.png" alt="" />
                  <span class="counter">10258</span><span>+</span>
                  <p>Water Sports</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/6.png" alt="" />
                  <span class="counter">950</span><span>M</span>
                  <p>Cyliing Track</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Fun Facts Area -->
      <!-- Start Selling Tips Area -->
      <div class="selling-tips-area pb-80 pt-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="selling-tips-wrap">
                <!-- Start single selling tips -->
                <div class="single-selling-tips section-title">
                  <p class="title">BEST SELLING TRIPS</p>
                  <h2>Top Rated Experiences <span></span> On Adventuren</h2>
                  <p>
                    It’s time to pack your bags and get ready for your next
                    adventure. Check out the tours we’re running in August and
                    September, and if you see something that’s up your alley,
                    book away! We’re just as excited as you to explore our big,
                    beautiful world.
                  </p>
                  <a href="#" class="btn btn-theme mt-30"
                    >See all the tours we're running</a
                  >
                </div>
                <!-- End single selling tips -->
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/2.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">5 DAY TOUR</p>
                  <a href="#"><h6>Adventure Cycling in Peru</h6></a>
                  <p class="price">$1574 <small>Per Person</small></p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/3.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">5 DAY TOUR</p>
                  <a href="#"><h6>Best of Spain & Portugal</h6></a>
                  <p class="price">$2564 <small>Per Person</small></p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/1.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">5 DAY TOUR</p>
                  <a href="#"><h6>Adventure Cycling in Peru</h6></a>
                  <p class="price">$1950 <small>Per Person</small></p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/5.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">5 DAY TOUR</p>
                  <a href="#"><h6>Polar Tours</h6></a>
                  <p class="price">$1587 <small>Per Person</small></p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/6.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">5 DAY TOUR</p>
                  <a href="#"><h6>Food Tours</h6></a>
                  <p class="price">$1236 <small>Per Person</small></p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/7.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">5 DAY TOUR</p>
                  <a href="#"><h6>ruise Tours</h6></a>
                  <p class="price">$2548 <small>Per Person</small></p>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Selling Tips Area -->
      <!-- Start Subscribe Area -->
      <div class="subscribe-area pt-100 pb-100 pb0-320">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- Start section title -->
              <div class="section-title">
                <p class="title">SIGN UP FOR OUR NEWSLETTER</p>
                <h2>
                  Sign up for travel deals, <span></span> news and inspiration
                </h2>
                <p>
                  Join our community of over 300,000 global readers who receive
                  emails filled with news, promotions, and other good stuff from
                  G Adventures.
                </p>
              </div>
              <!-- End section title -->
              <!-- start subscribe -->
              <form action="#" method="post" class="subscribe-form">
                <input
                  name="email"
                  class="widget-input"
                  placeholder="Enter your email address ......"
                  type="email"
                />
                <button type="submit" class="widget-sbtn">Subscribe Now</button>
              </form>
              <!-- end subscribe -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Subscribe Area -->
      <!-- Start Home Blog Area -->
      <div class="home-blog-area pt-100 pb-80 pb-res pb0-320">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-sm-12">
              <!-- Start section title -->
              <div class="section-title text-center">
                <p class="title">From The Blog</p>
                <h2>
                  Award-winning stories, and opinions<span></span> to fill your
                  life with adventure
                </h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/post/1.jpg" alt="" />
                </div>
                <div class="post-date">
                  <p>12 <span>May</span></p>
                </div>
                <div class="post-blog-content">
                  <a href="#"
                    ><h4>Will yacht tourism set to boom post-pandemic?</h4></a
                  >
                  <p>
                    Currently, the yacht charter market is predicted to register
                    a CAGR of about 4% during the forecast period (2020 - 2025).
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/post/2.jpg" alt="" />
                </div>
                <div class="post-date">
                  <p>12 <span>May</span></p>
                </div>
                <div class="post-blog-content">
                  <a href="#"
                    ><h4>Travel will bounce back sooner than expected</h4></a
                  >
                  <p>
                    Currently, the yacht charter market is predicted to register
                    a CAGR of about 4% during the forecast period (2020 - 2025).
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/post/3.jpg" alt="" />
                </div>
                <div class="post-date">
                  <p>12 <span>May</span></p>
                </div>
                <div class="post-blog-content">
                  <a href="#"
                    ><h4>Darjeeling & Kalimpong Open Doors for Tourists</h4></a
                  >
                  <p>
                    Currently, the yacht charter market is predicted to register
                    a CAGR of about 4% during the forecast period (2020 - 2025).
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/post/4.jpg" alt="" />
                </div>
                <div class="post-date">
                  <p>12 <span>May</span></p>
                </div>
                <div class="post-blog-content">
                  <a href="#"
                    ><h4>Bir Billing Paragliding to Start from 15th Sep.</h4></a
                  >
                  <p>
                    Currently, the yacht charter market is predicted to register
                    a CAGR of about 4% during the forecast period (2020 - 2025).
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Home Blog Area -->
      <!-- Start Guide Area -->
      <div class="guide-area pt-170 pb-85">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <!-- Start section title -->
              <div class="section-title text-center">
                <p class="title">Our Guides & Staff</p>
                <h2>
                  A full team of experts with you before,<span></span> during
                  and after the journey
                </h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <!-- Start single guide -->
              <div class="single-guide">
                <div class="guide-thumb">
                  <img src="img/guide/1.jpg" alt="" />
                  <div class="guide-content">
                    <p class="title">Adventure Manager</p>
                    <a href="#"><h4>Chris Kearney</h4></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                      </li>
                    </ul>
                    <div class="about-guide">
                      <p>
                        Tasked with finding the freshest and most sustainable
                        adventures around the world, either from his home in
                        Brighton or wherever in Europe his campervan happens to
                        be parked up.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End single guide -->
            </div>
            <div class="col-md-4 col-sm-6">
              <!-- Start single guide -->
              <div class="single-guide">
                <div class="guide-thumb">
                  <img src="img/guide/2.jpg" alt="" />
                  <div class="guide-content">
                    <p class="title">Customer Experience Manager</p>
                    <a href="#"><h4>Megan Devenish</h4></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                      </li>
                    </ul>
                    <div class="about-guide">
                      <p>
                        Tasked with finding the freshest and most sustainable
                        adventures around the world, either from his home in
                        Brighton or wherever in Europe his campervan happens to
                        be parked up.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End single guide -->
            </div>
            <div class="col-md-4 col-sm-6">
              <!-- Start single guide -->
              <div class="single-guide">
                <div class="guide-thumb">
                  <img src="img/guide/3.jpg" alt="" />
                  <div class="guide-content">
                    <p class="title">Travel Specialist</p>
                    <a href="#"><h4>Dan Bloomfield</h4></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                      </li>
                    </ul>
                    <div class="about-guide">
                      <p>
                        Tasked with finding the freshest and most sustainable
                        adventures around the world, either from his home in
                        Brighton or wherever in Europe his campervan happens to
                        be parked up.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End single guide -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Guide Area -->
      <!-- Start Partner Area -->
      <div class="partner-area pb-220">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <!-- Start section title -->
              <div class="section-title text-center">
                <p class="title">Our Partners</p>
                <h2>
                  We team up with the best to give you<span></span> an
                  unmatchable experience
                </h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="partner-wrap owl-carousel">
                <!-- Start single partner -->
                <div class="single-partner">
                  <img class="bottom" src="img/partner/1.jpg" alt="" />
                  <img class="top" src="img/partner/1-1.jpg" alt="" />
                </div>
                <!-- End single partner -->
                <!-- Start single partner -->
                <div class="single-partner">
                  <img class="bottom" src="img/partner/2.jpg" alt="" />
                  <img class="top" src="img/partner/2-2.jpg" alt="" />
                </div>
                <!-- End single partner -->
                <!-- Start single partner -->
                <div class="single-partner">
                  <img class="bottom" src="img/partner/3.jpg" alt="" />
                  <img class="top" src="img/partner/3-3.jpg" alt="" />
                </div>
                <!-- End single partner -->
                <!-- Start single partner -->
                <div class="single-partner">
                  <img class="bottom" src="img/partner/4.jpg" alt="" />
                  <img class="top" src="img/partner/4-4.jpg" alt="" />
                </div>
                <!-- End single partner -->
                <!-- Start single partner -->
                <div class="single-partner">
                  <img class="bottom" src="img/partner/5.jpg" alt="" />
                  <img class="top" src="img/partner/5-5.jpg" alt="" />
                </div>
                <!-- End single partner -->
                <!-- Start single partner -->
                <div class="single-partner">
                  <img class="bottom" src="img/partner/6.jpg" alt="" />
                  <img class="top" src="img/partner/6-6.jpg" alt="" />
                </div>
                <!-- End single partner -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Partner Area -->
      <!-- Start Footer Area -->
      <%- include('./partials/footer'); %>
  </body>
</html>
